.my_square{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}

.active_square{
    background-color: #D2E0FB;
}





/* per la griglia 10 x 10  */
.my_square_ten{
    width: calc(100% / 10);
    height: 132px;
}