.my_color{
    background-color: #D2E0FB;
}


.my_square{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border: 1px solid black;

    background-color: #FFCF81;
}

.active_square{
    background-color: #8EACCD;
    color: white;
}







/* per la griglia 10 x 10  */
.my_square_ten{
    width: calc(100% / 10);
    height: 132px;
}

/* per la griglia 9 x 9  */
.my_square_nine{
    width: calc(100% / 9);
    height: 146px;
}


/* per la griglia 7 x 7  */
.my_square_seven{
    width: calc(100% / 7);
    height: 189px;
}